# Environnements virtuels
venv/
env/

# Fichiers Python compilés
*.pyc
__pycache__/

# Fichiers de configuration sensibles
.env
db.sqlite3

# Fichiers statiques et médias
staticfiles/
media/

# Fichiers de logs
*.log

# Fichiers système
.DS_Store
Thumbs.db

# Autres fichiers inutiles
*.pot
*.pyo
*.swp